<div class="card text-center">
    <div class="card-body">
        <img class="card-img-top " src="https://cdn4.iconfinder.com/data/icons/modern-business-8/24/Material_icons-07-30-512.png" style="width: 20%"alt="Card image">
        
        <%= form_for @review do |f| %>

            <div class="card-title">
				<%= f.label :rating %>
            </div>
            <%= f.text_field :rating %>

			<div class="card-title">
				<%= f.label :description %>
            </div> <%= f.text_field :description %>

			<div class="card-title">
				<%= f.label :likes %>
            </div> <%= f.text_field :likes %>
			<br>
			<br>
    <br>
    <%= f.hidden_field :movie_id, value: @movie.id %>
   <br>
    <br>
            <div class="btn btn-primary btn-light"><%= f.submit  %></div>
            
        <% end %>
    </div>

</div>

    

