
<%if flash[:errors] %>
    <% flash[:errors].each do |error| %>
   		<p style="color: red; ">
        <%= error %>
    </p>
    <% end %>
<% end %>

<%= form_for @review do |f| %>
<%= f.label :rating %>
<%= f.number_field :rating %>
<br>
<%= f.label :description %>
<%= f.text_area :description %>
<br>
<%= f.label :likes %>
<%= f.number_field :likes %>
<br>
<%= f.hidden_field :movie_id, value: @movie.id %>
<br>
<%= f.submit %>
<% end %>
