<h1><%=@review.movie.title %></h1>


Username: <%= @review.user.name %><br>
Rating: <%= @review.rating %><br>
Description: <%= @review.description %> <br>
Like: <%= @review.likes %>


<p><%= link_to "add review", new_review_path(@review.id) %></p>
